.nav {
  width: 100%;
  max-width: 1670px;
  font-family: "roboto", san-serif;
  padding: 25px;
  text-transform: uppercase;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
}

.nav__brand {
  font-size: 2rem;
  color: black;
}

.nav__navbar {
  font-size: 0.8em;
  letter-spacing: 2px;
  margin: 0 0 0 60px;
}

.nav__navbar--link {
  color: black;
  margin-left: 20px;
  padding-bottom: 3px;
}

.nav__navbar--link:hover {
  border-bottom: 1px solid black;
}

.nav__cta {
  background-color: black;
  color: #fff;
  width: 10rem;
  height: 2rem;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "roboto", san-serif;
  font-weight: 300;
}

.nav__cta:hover {
  background: white;
  color: black;
  border: 1px solid black;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.bg-dark {
  background-color: black !important;
}

.tx-light {
  color: #fff !important;
}

.border--left::after {
  position: absolute;
  content: '';
  top: 100px;
  left: 0;
  width: 3px;
  height: 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(blue), to(pink));
  background: linear-gradient(blue, pink);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "roboto", san-serif;
  min-height: 400px;
  background: #fff;
  color: black;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-content--right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.hero-description {
  width: 600px;
  padding: 70px;
  position: relative;
}

.hero-brand {
  width: 400px;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 4px;
  padding: 10px 0;
  text-transform: uppercase;
}

.hero-paragraph {
  font-size: 0.8rem;
  font-weight: 100;
  letter-spacing: 2px;
  padding: 10px 0;
  line-height: 20px;
}

.hero-link {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 5px;
  color: black;
}

.hero-link:hover i {
  margin-left: 10px;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.hero-image {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: auto;
  height: 450px;
  background-position-y: -100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card__description {
  width: 100%;
  height: 400px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.card__text {
  font-family: "roboto", san-serif;
  color: white;
  font-weight: 100;
  font-size: 12px;
  padding: 10px 0 5px 0;
}

.card__text--headline {
  font-size: 28px !important;
  font-weight: 300 !important;
}

.card__text--link {
  cursor: pointer;
  top: 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 100;
  padding: 10px 0 5px 0;
  font-family: "roboto", san-serif;
}

.card__text--link i {
  margin-left: 10px;
}

.card__text--link:hover .fas {
  opacity: 0.7;
  margin-left: 20px;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.card__text--space {
  border-bottom: 1px solid #fff;
  padding-bottom: 15px !important;
}

.items {
  width: 100%;
  min-height: 400px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "roboto", san-serif;
}

.items__wrapper {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items__text {
  padding: 5px;
  font-weight: 300;
  text-align: center;
  font-size: 14px;
  color: #262626;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

.items__text--headline {
  font-size: 25px !important;
  font-weight: 300 !important;
  letter-spacing: 0em !important;
  padding: 10px 0;
}

.items .fa-5x {
  color: #262626;
  padding: 10px;
}

.footer {
  max-width: 100%;
  min-height: 250px;
  margin: auto;
  background: black;
  font-family: "roboto", san-serif;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 70px 70px 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.footer__headline {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list li {
  margin: 0 5px;
}

.footer__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: absolute;
  top: 180px;
}

.footer__center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__center li {
  margin: 0 0 30px 0;
}

.footer__right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  position: relative;
}

.footer__invite {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .08em;
  position: absolute;
  top: 0;
  left: 170px;
}

.footer__invite--link {
  color: #fff;
  text-transform: uppercase;
}

.footer__invite--link:hover {
  opacity: 0.7;
  padding-bottom: 6px;
  border-bottom: 1px solid #fff;
}

.footer__invite i {
  position: relative;
  left: 10px;
}

.footer__invite:hover .fas {
  opacity: 0.7;
  padding-left: 20px;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.footer__copy {
  padding-top: 130px;
  color: #727272 !important;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.footer .fa-2x {
  color: #fff;
}

.footer .fa-2x .fab:hover {
  opacity: 0.6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border-width: 0;
}
/*# sourceMappingURL=main.css.map */