html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css reset */

html {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #262626;
}

body {
    background: rgb(133, 133, 133);
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* main navigation
========================== */
.nav {
    background: #fff;
    padding: 20px;
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
}

.nav__brand {
    font-size: 20px;
    margin-left: 30px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 500;
}

.nav__brand, 
.nav__cta {
    text-transform: uppercase;
}

.nav__navbar .nav__navbar-link {
    font-size: 12px;
    padding-bottom: 3px;
}

.nav__navbar-link {
    margin: 0 20px;
    font-size: 11px !important;
    text-transform: uppercase;
}

.nav__navbar .nav__navbar-link:hover {
    border-bottom: 2px solid #262626;
}

.nav__cta {
    font-family: 'Roboto';
    text-transform: capitalize;
    display: inline-block;
    color: #fff;
    background: black;
    padding: 10px;
    font-weight: 300;
    margin-right: 30px;
    font-size: 11px;
    text-transform: uppercase;
    width: 100px;
    border: none;
}

.nav__cta:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* modifier */
.nav--black {
    background: black;
    color: white;
}

.nav--black .nav__cta {
    color: black;
    background: white;
}

.nav--black .nav__navbar-link {
    color: white;
}

/* HERO
================== */
.hero {
    display: flex;
    min-height: 400px;
    background: #fff;
    color: #fff;
}

.hero.hero--content-right .hero__description {
    order: 2;
}

.hero.hero--content-right .hero__image {
    order: 1;
}

.hero__description {
    flex-basis: 45%;
    display: flex;
    align-items: center;
    order: 1;
    position: relative;
}

.hero__headline {
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 20px;
}


.hero__text {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: 1px;
    padding-bottom: 20px;    
}

.hero__cta {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
}


.bg--black {
    background: black;
}

.text--black {
    color: black !important;
}

.border--left::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 200px;
    background: linear-gradient(blue,pink);
}

.hero__image {
    flex-basis: 55%;
    background-repeat: no-repeat;
    background-position-y: -25px;
    background-size: cover;
    order: 2;
}

.hero__description-wrapper {
    padding: 70px;
}

.hero__description .hero__cta {
    color: white;
}

.hero__cta--onpointer:hover {
    opacity: 0.8;
}

.hero__cta .fa-angle-right {
    margin-left: 150px;
}

.fa-angle-right {
    position: relative;
}

.border--white::after {
    position: absolute;
    content: '';
    top: 6px;
    left: -96px;
    width: 100px;
    height: 2px;
    background: #fff;
}

.border--black::after{
    position: absolute;
    content:'';
    top: 6px;
    left: -96px;
    width: 100px;
    height: 2px;
    background: black;
}

/* cards */
.card {
    display: flex;
    margin: auto;
}

.card__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.card .card__description {
    width: 100%;
    height: 400px;
    padding: 20px;
}

.card__text--headline {
    font-size: 28px !important;
    font-weight: 300 !important;
}

.card__text {
    font-family: 'roboto', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 12px;
    padding: 10px 0 5px 0;
}

.card__link {
    cursor: pointer;
    top: 20px;
}

.card__text--space {
    border-bottom: 1px solid #fff;
    padding-bottom: 15px !important;
}

.card__actived:hover {
    opacity: 0.8;
}

.card__description .fa-angle-right {
    margin-left: 210px;
}

.card--white::after {
    position: absolute;
    content: '';
    top: 5px;
    left: -46px;
    width: 50px;
    height: 1px;
    background: #fff;
}

/* end card */

/* items */

.items {
    width: 100%;
    min-height: 400px;
    background: white;
    display: flex;
    align-items: center;
}

.items__wrapper {
    padding: 50px;
    display: flex;

}

.items__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items__text {
    padding: 5px;
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    color: #262626;
    line-height: 1.5rem;
    letter-spacing: 1px;
}

.items__headlines {
    font-size: 18px !important;
    font-weight: 500 !important;
    letter-spacing: 0em !important;
}

.fa-5x {
    color: #262626;
    padding: 10px;
}

/* end items */


/* footer */

.footer {
    max-width: 100%;
    min-height: 250px;
    margin: auto;
    background: black;
}

.footer__inner {
    display: flex;
    padding: 50px 70px 70px 70px;
    justify-content: space-between;
    position: relative;
}

.footer__headline {
    justify-self: center;
    font-family: 'roboto', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}

.footer__list {
    display: flex;
}

.footer__list li {
    margin: 0 5px;
}

.footer__left {
    flex: 1;
    position: absolute;
    top: 180px;
}

.footer__center {
    flex-direction: column;
}

.footer__center li {
    margin: 0 0 30px 0;
}

.footer__right {
    flex-direction: column;
    text-align: right;
    position: relative;
}

.footer__invite {
    position: absolute;
    left: 130px;
}

.footer--border::after {
    position: absolute;
    content: '';
    width: 50px;
    height: .08em;
    top: 7px;
    right:  4px;
    background: #fff;
    display: block;
}

.white--arrow {
    color: #fff;
    margin-right: 10px;
}

.footer__copy {
    padding-top: 130px;
    color: #727272 !important;
}

.footer__link--hover:hover {
   opacity: 0.5;
}

.footer__link--border:hover {
    padding-bottom: 6px;
    border-bottom: 1px solid #fff;
    opacity: 0.8;
}


.fa-2x {
    color: #fff;
}

.footer--text {
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: .1em;
    text-transform: uppercase;
}



/* end footer */