/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css reset */

html {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #262626;
}

body {
    background: rgb(133, 133, 133);
}

img {
    width: 100%;
}

/* main navigation
========================== */
.nav {
    background: #fff;
    padding: 20px;
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
}

.nav__brand {
    font-size: 20px;
    margin-left: 30px;
    cursor: pointer;
    font-size: 25px;
}

.nav__brand
.nav__cta {
    text-transform: uppercase;
}

.nav__navbar .nav__navbar-link {
    font-size: 12px;
    padding-bottom: 3px;
}

.nav__navbar-link {
    margin: 0 20px;
}

.nav__navbar .nav__navbar-link:hover {
    border-bottom: 2px solid #262626;
}

.nav__cta {
    font-family: 'Roboto';
    text-transform: capitalize;
    display: inline-block;
    color: #fff;
    background: black;
    padding: 10px;
    font-weight: 400;
    margin-right: 30px;
    font-size: 10px;
    width: 100px;
    border: none;
}

.nav__cta:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* modifier */
.nav--black {
    background: black;
    color: white;
}

.nav--black .nav__cta {
    color: black;
    background: white;
}

.nav--black .nav__navbar-link {
    color: white;
}

/* HERO
================== */
.hero {
    display: flex;
    min-height: 500px;
    background: black;
    color: white;
}

.hero.hero--background-gray {
    background: gray;
}

.hero.hero--content-right .hero__description {
    order: 2;
}

.hero.hero--content-right .hero__image {
    order: 1;
}

.hero__description {
    flex-basis: 45%;
    display: flex;
    align-items: center;
    order: 1;
}

.hero__image {
    flex-basis: 55%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    order: 2;
}

.hero__description-wrapper {
    border-left: 2px solid red;
    padding: 30px;
}

.hero__description h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero__description p {
    margin-bottom: 20px;
}

.hero__description .hero__cta {
    color: white;
}

.hero__cta:hover {
    border-bottom: 1px solid white;
}

/* card */

.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 400px;
}

.cardsSatu,.cardsDua,.cardsTiga, .cardsEmpat {
    padding: 50px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 12px;
    font-weight: 12px;
    color: #fff;
    justify-content: flex-end;
    text-shadow: 2px 5px 50px  #262626;
} 

.cardsSatu {
    background-image: url(../img/card1.jpg);
}

.cardsDua {
    background-image: url(../img/card2.jpg);
}

.cardsTiga {
    background-image: url(../img/card3.jpg);
}

.cardsEmpat {
    background-image: url(../img/card4.jpg);
}

.cards a {
    color: #fff;
    padding-top: 10px;
}

.cards p {
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}

/* items */

.items {
    background: #fff;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    color: #262626;
    height: 400px;
}

.itemSatu, .itemDua, .itemTiga {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemSatu h2, .itemDua h2, .itemTiga h2 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 8px;
}

.itemSatu p, .itemDua p, .itemTiga  {
    font-size: 13px;
    text-align: center;
    line-height: 20px;
}

.itm a {
    font-size: 80px;
    padding: 20px;
    color: #262626;
}

/* footer */

.footer {
    width: 100%;
}


.innerfooter {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #262626;
    position: relative;
}

.innerfooter h2 {
    padding: 10px 50px;
    font-size: 20px;
    font-family: 'roboto';
    font-weight: 500;
}

.innerfooter .listLeft, .innerfooter .listCenter,
.innerfooter .listRight ,
.innerfooter h2 {
    padding-top: 30px;
}

.innerfooter,
.innerfooter li,
.innerfooter a {
    color: #fff;
    list-style: none;
    text-decoration: none;
    text-transform:capitalize !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

.innerfooter ul.listLeft {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    position: absolute;
    top: 140px;
    left: 48px;
}

.listLeft li {
    margin-left: 15px;
}

.listLeft li a i {
    font-size: 20px;
}


.listLeft a {
    transition: ease-in-out(1);
}

.listLeft a:hover {
    opacity: 0.8;
    transition: ease-in-out(3s);
}

.innerfooter ul.listCenter {
    flex: 1;
    padding-left: 300px;
}

.listCenter {
    font-size: 15px;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.listCenter li {
    line-height: 40px;
}

.listRight li {
    margin: 0 0 30px 0;
    padding: 0 0 50px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    text-align: right;
    font-weight: 100;
    padding-right: 50px;
    padding-top: 20px;
}

.listCenter a {
    padding-bottom: 2px;
}

.listCenter a:hover {
    border-bottom: 1px solid #fff;
}

.listRight .cpy:hover {
    opacity: 0.8;
}
