@import 'mixin';
@import 'abstrac';

.footer {
    max-width: 100%;
    min-height: 250px;
    margin: auto;
    background: black;
    font-family: $primary-font;

    @include breakpoint(mobile) {
        padding: 20px 30px 20px 30px;
        height: 500px;
        display: flex;
        flex-direction: column;
    }

    &__inner {
        display: flex;
        padding: 50px 70px 70px 70px;
        justify-content: space-between;
        position: relative;

        @include breakpoint(mobile) {
            padding: 0;
            justify-content: center;
            flex-direction: column;
            position: static;
        }
    }

    &__headline {
        font-family: $primary-font;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;

        @include breakpoint(mobile) {
            display: flex;
            justify-content: center;
            padding: 20px;
            letter-spacing: 3px;
        }
    }

    &__list {
        display: flex;
        padding: 0;

        @include breakpoint(tablet) {
            font-size: 12px;
        }

        li {
            margin: 0 5px;

            .fab:hover {
                opacity: 0.5;
            }

            @include breakpoint(mobile) {
                text-align: center
            }
        }
    }

    &__left {
        flex: 1;
        position: absolute;
        top: 180px;

        @include breakpoint(tablet) {}

        @include breakpoint(mobile) {
            position: static;
            justify-content: center;
        }
    }

    &__center {
        flex-direction: column;

        @include breakpoint(tablet) {
            font-size: 11px;
            flex-direction: row;
            position: absolute;
            top: 105px;
        }

        @include breakpoint(mobile) {
            flex-direction: column;
            position: static;
            justify-content: center;
            margin-top: 40px;
            font-size: 12px;
        }

        li {
            margin: 0 0 30px 0;

            @include breakpoint(mobile) {
                margin-bottom: 20px;
            }
        }
    }

    &__right {
        flex-direction: column;
        text-align: right;
        position: relative;

        @include breakpoint(mobile) {
            position: static;
            margin-top: 112px;
        }
    }

    &__invite {
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: .08em;
        position: absolute;
        top: 0;
        left: 130px;

        @include breakpoint(tablet) {
            left: 150px;
        }

        @include breakpoint(mobile) {
            position: static;
            margin: 0;
        }


        &--link {
            color: #fff;
            text-transform: uppercase;

            @include breakpoint(tablet) {
                margin-right: 20px;
                letter-spacing: 2px;
            }

            @include breakpoint(mobile) {
                margin: 0;
            }

            &:hover {
                opacity: 0.7;
                padding-bottom: 6px;
                border-bottom: 1px solid #fff;
            }
        }

        & i {
            position: relative;
            left: 10px;
        }

        &:hover .fas {
            opacity: 0.7;
            padding-left: 20px;
            transition: ease-in-out 0.5s;
        }
    }

    &__copy {
        padding-top: 130px;
        color: #727272;
        font-size: 14px;
        font-weight: 200;
        letter-spacing: .1em;
        text-transform: capitalize;

        @include breakpoint(mobile) {
            padding-top: 30px;
        }
    }

    .fa-2x {
        color: #fff;
    }
}