@import 'abstrac';
@import 'mixin';

// modifier

.bg-dark {
    background-color: black !important;
}

.tx-light {
    color: #fff !important;
}

.border--left::after {
    position: absolute;
    content: '';
    top: 100px;
    left: 0;
    width: 3px;
    height: 200px;
    background: linear-gradient(blue,pink);

    @include breakpoint(tablet) {
        top: 80px;
    }

    @include breakpoint(mobile){
        top: 0;
        width: 100%;
        max-width: 200px;
        height: 5px;
        left: 50px;
        background: linear-gradient(to left, blue, pink);
    }
}

// end modifier

.hero {
    display: flex;
    font-family: $primary-font;
    min-height: 400px;
    background: #fff;
    color: black;

    @include breakpoint(mobile){
        flex-direction: column-reverse;
    }


    &--right {
        flex-direction: row-reverse;

        @include breakpoint(mobile) {
            flex-direction: column-reverse;
        }
    }

    &-content {
        display: flex;
        flex-basis: 30%;
        align-items: center;
    }

    &-description {
        width: 600px;
        padding: 70px;
        position: relative;

        @include breakpoint(laptop){
            width: 450px;
            padding: 50px;
        }

        @include breakpoint(mobile){
            padding: 40px;
        }

    }

    &-brand {
        width: 100%;
        max-width: 400px;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 4px;
        padding: 10px 0;
        text-transform: uppercase;
    }

    &-paragraph {
        font-size: 0.8rem;
        font-weight: 100;
        letter-spacing: 2px;
        padding: 10px 0;
        line-height: 20px;

        @include breakpoint(tablet) {
            font-size: 0.7em;
            padding-bottom: 20px;
        }
    }

    &-link {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 5px;
        color: black;

        @include breakpoint(laptop) {
            font-size: 12px;
            letter-spacing: 3px;
        }

        &:hover i {
            margin-left: 10px;
            transition: ease-in-out 0.5s;
        }
    }

    &-image {
        flex-basis: 70%;
        background-position-y: -100px;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        min-height: 500px;

        @include breakpoint(laptop){
            background-position-y: 0;
            background-position: center;
        }
    }
}