@mixin flex-box($direction:row, $js-content: row){
    display: flex;
    justify-content: $js-content;
    align-items: center;
    flex-direction: $direction;
}

@mixin center-element {
    margin-left: 0;
    margin-right: 0;
}